:root{
    --color-inactive: #dedcff;
    --color-primary-color-book: #667f9f;
}
body{
    margin: 0;
    padding: 0;
}
header{
    height: 10vh;
    background-color: #44576b;
}
.create-card, .book{
    height: calc(230px*1.4143);
    width: 230px;
    border: none;
    border-radius: 15px;
}
.create-card{
    background-color: var(--color-inactive);
}
.book{
    background-color: var(--color-primary-color-book);
}
.library-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    column-gap: 2vw;
    row-gap: 10vh;
    padding: 10vh 15%;
    justify-content: center;
}