:root{
    --color-inactive: #dedcff;
    --color-primary-color-book: #667f9f;

}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Medium', sans-serif;
}
header{
    height: 10vh;
    background-color: #44576b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}
.create-card, .card-book, dialog{
    height: calc(230px*1.4143);
    width: 230px;
    border: none;
    border-radius: 15px;
}
.create-card{
    background-color: var(--color-inactive);
}
.card-book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: var(--color-primary-color-book);
    color: white;
    position: relative;
    z-index: 10;
}
.library-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    column-gap: 2vw;
    row-gap: 10vh;
    padding: 10vh 15%;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 100%;
    gap: 15px;
}
.book{
    position: relative;
}
.read-button{
    width: 30px;
    height: 40px;
    border: none;
    background-color: #b63535;
    clip-path: polygon(50% 70%, 100% 100%, 100% 0, 0 0, 0 100%);
    transition-duration: 0.5s;
    position: absolute;
    bottom: -30px;
    left: 25px;
}
.read-button:hover{
    bottom: -40px;
}
dialog{
    background-color: var(--color-primary-color-book);
}
.delete-button, #cancel-button{
    border: none;
    height: 40px;
    width: auto;
    position: absolute;
    z-index: 10;
    right: 15px;
    top: 5px;
    background-color: rgb(0,0,0,0);
    background-image: url('Img/close.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.delete-button{
    filter: invert(1);
}
input, #confirm-button{
    height: 36px;
    border: none;
}
.card-book > span{
    max-width: 70%;
    word-break: break-all;
}